*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 5em;
    font-weight: bolder;
}


/* CLASSI UTILITY */

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.height-500{
    height: 500px;
}

.height-300{
    height: 300px;
}

.py-top-150{
    padding-top:150px;
}

/* FINE CLASSI UTILITY */

/* CLASSI LAYOUT */

.container-full{
    width:100%;
}

.container{
    max-width: 1000px;
    margin:0 auto;
}

.container-large{
    max-width: 1200px;
    margin:0 auto;
    background-color: yellow;
    border: 1px solid black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    border: 1px solid black;
}

.c-33{
    width: calc(100%/3);
}

.c-50{
    width:50%;
}

.c-100{
    width:100%;
}

.c-60{
    width:60%;
}

.c-40{
    width:40%;
}

.content-header{
    background-color: red;
    border:1px solid black;
}

/* FINE CLASSI LAYOUT */

/* STYLE SECTION */



header .row{
    height:50px;
}

.jumbo-img{
    height: auto;
    max-width: 100%;
}


/* FINE STYLE SECTION */

/* COLORI BACKGROUND */

.bg-sky{
    background-color: skyblue;
}

/* FINE COLORI BACKGROUND */